# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules
disthttps://127.0.0.1:2941/static/artifacts/6135d0ce-366e-4302-944e-4dc8c5e48c44/.user_uploaded/media_1786644398970.png?csrf=a16d3460-45eb-4068-aaf7-138652800cab
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvsopt
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
